<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}Eat!{{else}}Make me another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw it away!</button>
</li>
